<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>

    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'tournament' %}">Tournaments</a></li>
        <li><a href="{% url 'competitor' %}">Competitors</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'history' %}">history</a></li>
            <li><a href="{% url 'logout_user' %}">Logout</a></li>
        {% endif %}
    </ul>

    <!--Messages-->
    {% if messages %}
        {% for message in messages%}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <h1>
        Account
    </h1>

    <form action="{% url 'account' %}" method='POST'>
        {% csrf_token %}
        <div>
            <label for="first_name">First Name: </label>
            <input type="first_name" class="" id="first_name" name="first_name" value="{{user.first_name}}">
        </div>
        <br>
        <div>
            <label for="last_name">Last Name: </label>
            <input type="last_name" id="last_name" name="last_name" value="{{user.last_name}}">
        </div>
        <br>
        <div>
            {{ form.rank.errors }}
                <label for="{{ form.rank.id_for_label }}"> Rank: </label>
            {{ form.rank }}
        </div>
        <br>
        <input type='submit' value='Submit'>
    </form>
    
</body>
</html>