

{% if user.is_authenticated %}

    <h2> Logged In: {{user.last_name}}, {{user.first_name}} </h2>

{% else %}

    <form action='' method='POST'>
        {% csrf_token %}
        <div>
            <label for="email">Email Address</label>
            <input type="email" class="" id="email" name="email">
        </div>
        <br>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="8" required>
        </div>
        <br>
        <input type='submit' value='Submit'>
        <br>
        <br>
        <button><a href="{% url 'register_user' %}">Register</a></button>
    </form>

{% endif %}

