
{% if user.is_authenticated %}

    <h2> Logged In: {{user.email}} </h2>

{% else %}

    <form action="" method=POST>
        {% csrf_token %}
        <div>
            <label for="email">Email Address</label>
            <input type="email" class="" id="email" name="email">
        </div>
        <br>
        <div>
            <label for="pass">Password (8 Characters minimum)</label>
            <input type="password" id="pass" name="password" minlength="8" required>
        </div>
        <br>
        <input type='submit' value='Submit'>
    </form>

{% endif %}

